<form role="form" class="form-horizontal" id="tweetset-form-data">
	<input type="hidden" id="tweetset_id" name="id">

    <div class="form-group">
        <label for="name" class="col-lg-1 control-label">Name</label>
        <div class="col-lg-8">
            <input type="text" class="input-sm form-control validate[required]" name="name" id="tweetset_name" placeholder="Name">
        </div>
    </div>
</form>