<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="page-header">Welcome to CompFest Multi Account Tweet Manager</h3>
        <p>Register the twitter accounts and create your tweets</p>
    </div>
</div>