    <div class="col-lg-12 text-center well" style="margin-top: 20px">
        <h3 class="page-header">Welcome to Multi Account Tweet Manager</h3>
        <p>Register the twitter accounts and create your tweets</p>

        <ol style="text-align: left; font-size: 14px">
        	<li> Register the twitter accounts using 'Add Account' menu on 'Twitter Account' panel. (the link is public url) </li>
        	<li> Create your tweetset (list of tweets) on 'TweetSet' panel, each user will be assigned to one of tweet on the tweetset. </li>
        	<li> Open tweets menu on 'TweetSet' panel and create your tweets. </li>
        	<li> You can upload the media (image/video) on media panel. </li>
        	<li> Click 'Randomize' to assign your tweets to all registered users, click 'Tweet Now' button to start tweeting. </li>
        </ol>
    </div>