{% extends 'admin/index.twig' %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="../../admin">Dashboard</a></li>
    <li><a href="../media">Media</a></li>
    <li class="active">{{ title }}</li>
</ul>
<div class="row page-header-box">
    <div class="col-xs-10">
        <h3>{{ title }}</h3>
    </div>
</div>

<form enctype="multipart/form-data" action="upload" method="POST">
	<label>Name</label>
    <input type='name' name="name" class="form-control" required><br>
    <label>Media</label>
    <input name="userfile" type="file" required/>
    <input class="btn btn-primary" type="submit" value="Send File" />
</form>

{% endblock %}